#%RAML 1.0
version: 1
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/8fa1a327-c82e-445c-95e6-14b8fdf59709/ # 
title: Lazy Fashion eCommerce API

types:
  customer : !include DataTypes/customer.raml
  customerNoID :  !include DataTypes/customerNoID.raml

  


/customers:
 get:   
   displayName: Get customer 
   
   description: retrievs customers information.
   responses:
     200:
       body:
         application/json:
           example: customers []
             
             
 post:

   displayName: post customer  
   description: Accept customer information   
   body:      
      application/json:     
       description: Accept customer information
       example: !include Example/customerNoID.raml
    
   responses:
     200:
       body:
         application/json:
           example:
             {
               "message" : "customer created but not really"
             }
     400:
       body:
         application/json:
           example:
             {
               "message" : "bad request"
             }
 patch:
   displayName: update customer
   description: updates customer information.


 /{customer_id}:
   displayName: Locate specific customer
   description: retrives a specific customer
   get:
     description: get a specific customer
     responses:
      200:
       body:
         application/json:
           example: !include  Example/Customer.raml
       
   patch:
     description: update customer ID
   delete:
     description: delete a specific customer